homepage.intro.blurb.code: 'homepage.intro.shanti'
enable.localhost: 'no'
default.perspective.code: 'pol.admin.hier'
default.view.code: 'roman.popular'
default.relation_type.code: 'is.contained.by'
server.environment: 'local' # Valid values: local, development, staging and production